In [52]:
# Importing Libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np 
# from datetime import datetime, timedelta

In [53]:
headers = {'Accept-Language': 'en-US,en;q=0.8'}
imdb_page = requests.get("https://www.imdb.com/list/ls009609925/", headers=headers)
#imdb_filming_dates = requests.get("https://www.imdb.com/title/tt0172495/locations?ref_=ttloc_ql_5")
#imdb_page = requests.get("https://www.imdb.com/list/ls031758648/")
soup = BeautifulSoup(imdb_page.content, "html.parser")

In [54]:
item_content = soup.find_all('div', class_="lister-item-content")

In [37]:
#item_content[0].find_all('p', class_="text-muted text-small")[1].text.split("|")[1].replace("\n", "").split(":")[1]
#item_content[0].find('p', class_="").text.replace("\n", "")
#item_content[0].find_all('h3', class_="lister-item-header")[0].text.replace('\n', "")
#item_content[0].find_all('img', class_="alt")
#item_content[2].find('a')
#item_content[2].find('span', class_='lister-item-year').text.replace("(","").replace(")","")
#item_content[0].find('span', class_="ipl-rating-star__rating").text
#item_content[0].find('span', class_="runtime").text
#item_content[0].find('span', class_="genre").text.replace("\n","")

In [55]:
unique_ref = []
for index in range(len(item_content)):
     unique_ref.append(str(item_content[index].find('a')).split("/")[2])

In [57]:
movie_names = []
release_date = []
description = []
directors = []
movie_stars = []
ratings = []
duration = []
genre = []

for index in range(len(item_content)):
    movie_names.append(item_content[index].find('a').text)
    release_date.append(item_content[index].find('span', class_='lister-item-year').text.replace("(","").replace(")",""))
    description.append(item_content[index].find('p', class_="").text.replace("\n", ""))
    directors.append(item_content[index].find_all('p', class_="text-muted text-small")[1].
                     text.split("|")[0].replace("\n", "").split(":")[1])
    movie_stars.append(item_content[index].find_all('p', class_="text-muted text-small")[1]
                       .text.split("|")[1].replace("\n", "").split(":")[1])
    ratings.append(item_content[index].find('span', class_="ipl-rating-star__rating").text)
    duration.append(item_content[index].find('span', class_="runtime").text)
    genre.append(item_content[index].find('span', class_="genre").text.replace("\n","").strip())

['Gladiator',
 'Inception',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Lord of the Rings: The Two Towers',
 'The Lord of the Rings: The Return of the King',
 'The Revenant',
 'Avatar',
 'North by Northwest',
 'Cast Away',
 'Interstellar',
 'Big Fish',
 'The Magnificent Seven',
 'Back to the Future',
 'Apocalypto',
 'The Wild Bunch',
 'Inglourious Basterds',
 'Indiana Jones and the Raiders of the Lost Ark',
 'Dances with Wolves',
 'The Grand Budapest Hotel',
 'Hugo',
 'Casino Royale',
 'The Big Blue',
 '2001: A Space Odyssey',
 'The Bridge on the River Kwai',
 'The Great Escape',
 'Indiana Jones and the Last Crusade',
 'Barry Lyndon',
 'True Grit',
 'Mad Max: Fury Road',
 'Jaws',
 'Lawrence of Arabia',
 'Life of Pi',
 'Blood Diamond',
 'Jurassic Park',
 'Mission: Impossible II',
 'Avengers: Endgame',
 '127 Hours',
 'Batman Begins',
 'Harry Potter and the Deathly Hallows: Part 2',
 'Harry Potter and the Deathly Hallows: Part 1',
 'Star Wars: Episode IV - A New Hope',
 'Moonrise Kingdom',
 'The Martian',
 'The Shape of Water',
 'The Searchers',
 "Harry Potter and the Sorcerer's Stone",
 'Mission: Impossible',
 'Doctor Strange',
 'Spider-Man',
 'Sherlock Holmes',
 'The Hobbit: An Unexpected Journey',
 'Black Panther',
 'The Hobbit: The Desolation of Smaug',
 'The Hobbit: The Battle of the Five Armies',
 'Prometheus',
 'O Brother, Where Art Thou?',
 'Star Wars: Episode III - Revenge of the Sith',
 'Guardians of the Galaxy',
 'Das Boot',
 'A.I. Artificial Intelligence',
 'Spartacus',
 'Back to the Future Part II',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Road',
 'Wonder Woman',
 'Star Wars: Episode VI - Return of the Jedi',
 'Crouching Tiger, Hidden Dragon',
 'The Last of the Mohicans',
 'The Darjeeling Limited',
 'Into the Wild',
 'X-Men: First Class',
 'Mission: Impossible - Fallout',
 'Monty Python and the Holy Grail',
 'Ready Player One',
 'Deadpool',
 'Indiana Jones and the Temple of Doom',
 'Avengers: Infinity War',
 "Pirates of the Caribbean: Dead Man's Chest",
 'Kingsman: The Secret Service',
 'Thelma & Louise',
 'Stardust',
 'The Mummy',
 'Iron Man',
 'Eight Below',
 'Star Wars: Episode VII - The Force Awakens',
 'Star Wars: Episode I - The Phantom Menace',
 'The Mummy Returns',
 'Thor: Ragnarok',
 'The Fifth Element',
 'King Kong',
 'Fantastic Beasts and Where to Find Them',
 'The Hunger Games',
 'Back to the Future Part III',
 'Kingdom of Heaven',
 'Die Hard with a Vengeance',
 'Zombieland',
 'Speed',
 'Jumanji',
 'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
 'Waterworld']

In [58]:
release_date = ' '.join(release_date).replace('I','').split()

In [59]:
# Filming Dates
#https://www.imdb.com/title/tt0172495/locations?ref_=ttloc_ql_5
filming_dates = []
for index in range(len(unique_ref)):
    imdb_page = requests.get("https://www.imdb.com/title/"+unique_ref[index]+"/locations?ref_=ttco_ql_5", headers=headers)
    soup = BeautifulSoup(imdb_page.content, "html.parser")
    item_content = soup.find_all('li', class_="ipl-zebra-list__item")
    filming_dates.append(item_content[0].text.replace("\n", "").strip())

In [72]:
# Converting into DataFrames

imdb_df = pd.DataFrame(list(zip(movie_names, release_date, directors, duration, ratings, genre, movie_stars, filming_dates, description)),
               columns =['Movie Name', 'Date Release', "Director", "Duration (Mins)", "Ratings", "Genre", "Movie Stars", "Filming Dates", "Description"])
#pd.set_option('display.max_columns', 8)
imdb_df

,Movie Name,Date Release,Director,Duration (Mins),Ratings,Genre,Movie Stars,Filming Dates,Description
0,Gladiator,2000,Ridley Scott,155 min,8.5,"Action, Adventure, Drama","Russell Crowe, Joaquin Phoenix, Connie Nielsen...",18 January 1999 - 29 May 1999,A former Roman General sets out to exact venge...
1,Inception,2010,Christopher Nolan,148 min,8.8,"Action, Adventure, Sci-Fi","Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",19 June 2009 - 22 November 2009,A thief who steals corporate secrets through t...
2,The Lord of the Rings: The Fellowship of the Ring,2001,Peter Jackson,178 min,8.8,"Action, Adventure, Drama","Elijah Wood, Ian McKellen, Orlando Bloom, Sean...",11 October 1999 - 22 December 2000,A meek Hobbit from the Shire and eight compani...
3,The Lord of the Rings: The Two Towers,2002,Peter Jackson,179 min,8.7,"Action, Adventure, Drama","Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",11 October 1999 - 22 December 2000,While Frodo and Sam edge closer to Mordor with...
4,The Lord of the Rings: The Return of the King,2003,Peter Jackson,201 min,8.9,"Action, Adventure, Drama","Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",11 October 1999 - 22 December 2000,Gandalf and Aragorn lead the World of Men agai...
...,...,...,...,...,...,...,...,...,...
95,Zombieland,2009,Ruben Fleischer,88 min,7.6,"Adventure, Comedy, Fantasy","Jesse Eisenberg, Emma Stone, Woody Harrelson, ...",February 2009 - April 2009,A shy student trying to reach his family in Oh...
96,Speed,1994,Jan de Bont,116 min,7.2,"Action, Adventure, Thriller","Keanu Reeves, Dennis Hopper, Sandra Bullock, J...",7 September 1993 - 23 December 1993,A young police officer must prevent a bomb exp...
97,Jumanji,1995,Joe Johnston,104 min,7,"Adventure, Comedy, Family","Robin Williams, Kirsten Dunst, Bonnie Hunt, Jo...",14 November 1994 - 7 April 1995,When two kids find and play a magical board ga...
98,"The Chronicles of Narnia: The Lion, the Witch ...",2005,Andrew Adamson,143 min,6.9,"Adventure, Family, Fantasy","Tilda Swinton, Georgie Henley, William Moseley...",28 June 2004,Four kids travel through a wardrobe to the lan...
99,Waterworld,1995,Kevin Reynolds,135 min,6.2,"Action, Adventure, Sci-Fi","Kevin Costner, Jeanne Tripplehorn, Dennis Hopp...",27 June 1994 - 14 February 1995,In a future where the polar ice-caps have melt...

In [77]:
imdb_df['Duration (Mins)'] = imdb_df['Duration (Mins)'].str.replace(r'[^\d.]+', '')
imdb_df['Ratings'] = imdb_df["Ratings"].astype(float)
imdb_df['Date Release'] = imdb_df["Date Release"].astype(int)
imdb_df['Duration (Mins)'] = imdb_df['Duration (Mins)'].astype(int)

In [78]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Movie Name       100 non-null    object
 1   Date Release     100 non-null    int32
 2   Director         100 non-null    object
 3   Duration (Mins)  100 non-null    int32
 4   Ratings          100 non-null    float64
 5   Genre            100 non-null    object
 6   Movie Stars      100 non-null    object
 7   Filming Dates    100 non-null    object
 8   Description      100 non-null    object
dtypes: float64(1), int32(2), object(6)
memory usage: 6.4+ KB

In [79]:
imdb_df

,Movie Name,Date Release,Director,Duration (Mins),Ratings,Genre,Movie Stars,Filming Dates,Description
0,Gladiator,2000,Ridley Scott,155,8.5,"Action, Adventure, Drama","Russell Crowe, Joaquin Phoenix, Connie Nielsen...",18 January 1999 - 29 May 1999,A former Roman General sets out to exact venge...
1,Inception,2010,Christopher Nolan,148,8.8,"Action, Adventure, Sci-Fi","Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",19 June 2009 - 22 November 2009,A thief who steals corporate secrets through t...
2,The Lord of the Rings: The Fellowship of the Ring,2001,Peter Jackson,178,8.8,"Action, Adventure, Drama","Elijah Wood, Ian McKellen, Orlando Bloom, Sean...",11 October 1999 - 22 December 2000,A meek Hobbit from the Shire and eight compani...
3,The Lord of the Rings: The Two Towers,2002,Peter Jackson,179,8.7,"Action, Adventure, Drama","Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",11 October 1999 - 22 December 2000,While Frodo and Sam edge closer to Mordor with...
4,The Lord of the Rings: The Return of the King,2003,Peter Jackson,201,8.9,"Action, Adventure, Drama","Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",11 October 1999 - 22 December 2000,Gandalf and Aragorn lead the World of Men agai...
...,...,...,...,...,...,...,...,...,...
95,Zombieland,2009,Ruben Fleischer,88,7.6,"Adventure, Comedy, Fantasy","Jesse Eisenberg, Emma Stone, Woody Harrelson, ...",February 2009 - April 2009,A shy student trying to reach his family in Oh...
96,Speed,1994,Jan de Bont,116,7.2,"Action, Adventure, Thriller","Keanu Reeves, Dennis Hopper, Sandra Bullock, J...",7 September 1993 - 23 December 1993,A young police officer must prevent a bomb exp...
97,Jumanji,1995,Joe Johnston,104,7.0,"Adventure, Comedy, Family","Robin Williams, Kirsten Dunst, Bonnie Hunt, Jo...",14 November 1994 - 7 April 1995,When two kids find and play a magical board ga...
98,"The Chronicles of Narnia: The Lion, the Witch ...",2005,Andrew Adamson,143,6.9,"Adventure, Family, Fantasy","Tilda Swinton, Georgie Henley, William Moseley...",28 June 2004,Four kids travel through a wardrobe to the lan...
99,Waterworld,1995,Kevin Reynolds,135,6.2,"Action, Adventure, Sci-Fi","Kevin Costner, Jeanne Tripplehorn, Dennis Hopp...",27 June 1994 - 14 February 1995,In a future where the polar ice-caps have melt...

In [71]:
imdb_df['Ratings'] = imdb_df["Ratings"].astype(float)
imdb_df['Date Release'] = imdb_df["Date Release"].astype(int)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Movie Name     100 non-null    object
 1   Date Release   100 non-null    object
 2   Director       100 non-null    object
 3   Duration       100 non-null    object
 4   Ratings        100 non-null    float64
 5   Genre          100 non-null    object
 6   Movie Stars    100 non-null    object
 7   Filming Dates  100 non-null    object
 8   Description    100 non-null    object
dtypes: float64(1), object(8)
memory usage: 7.2+ KB